# node_modules
node_modules

# package-lock.json
package-lock.json

# coverage
/coverage

# environment files
.DS_Store
.env

# next.js
.next/
/out/
build/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# logging
build-log.txt

# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Terraform lock file
.terraform.lock.hcl

# Terraform cache directory
.terraform/

# Terraform plan output files
*.tfplan